.logoSize{
    max-width: 150PX;
    max-height: 150PX;
}

.espacioAbajo{
    padding-bottom: 30px;
}

.espacioArriba{
    padding-top: 30px;
}

.primaryColor{
    background-color: rgb(122, 107, 255);
}


.CardLogin{
    width: 50 px;
align-self: center;
}