.back {
  background-color: black;
  color: aliceblue;
  text-align: center;

}

.imagen{
    max-width: 300px;
    max-height: 350px;
}

.tabla{
  color: black;
  background-color: bisque;
  max-width: 100%;
  border: 1px solid;
  border-color: aqua;
}